body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("pita.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.table {
  width: 45%;
  margin: 20px;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.table caption {
  font-size: 1.2em;
  margin-bottom: 10px;
  background-color: palevioletred;
  padding: 10px;
  text-align: center;
  color: #ffffff;
}

.table th {
  background-color: palevioletred;
  color: #ffffff;
  border: 1px solid black;
}

.table td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

.table img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 span {
  font-size: 24px;
  color: black; /* Warna pita */
  margin: 0 10px; /* Jarak antara pita dan teks */
}
